<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>GeraRelatorio</servlet-name>
    <servlet-class>Relatorio.GeraRelatorio</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MenuPrincipal</servlet-name>
    <servlet-class>menuprincipal.MenuPrincipal</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TarefaAlterar</servlet-name>
    <servlet-class>tarefa.controlador.TarefaAlterar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TarefaCarregaInclusao</servlet-name>
    <servlet-class>tarefa.controlador.TarefaCarregaInclusao</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TarefaExcluir</servlet-name>
    <servlet-class>tarefa.controlador.TarefaExcluir</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TarefaGravar</servlet-name>
    <servlet-class>tarefa.controlador.TarefaGravar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TarefaImpressao</servlet-name>
    <servlet-class>tarefa.controlador.TarefaImpressao</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TarefaIncluir</servlet-name>
    <servlet-class>tarefa.controlador.TarefaIncluir</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TarefaListar</servlet-name>
    <servlet-class>tarefa.controlador.TarefaListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TarefaAlterar</servlet-name>
    <url-pattern>/TarefaAlterar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TarefaCarregaInclusao</servlet-name>
    <url-pattern>/TarefaCarregaInclusao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TarefaExcluir</servlet-name>
    <url-pattern>/TarefaExcluir</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TarefaGravar</servlet-name>
    <url-pattern>/TarefaGravar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TarefaImpressao</servlet-name>
    <url-pattern>/TarefaImpressao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TarefaIncluir</servlet-name>
    <url-pattern>/TarefaIncluir</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TarefaListar</servlet-name>
    <url-pattern>/TarefaListar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeraRelatorio</servlet-name>
    <url-pattern>/GeraRelatorio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuPrincipal</servlet-name>
    <url-pattern>/MenuPrincipal</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>MenuPrincipal</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/erro404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/erro500.jsp</location>
  </error-page>
</web-app>